node_modules
build


public
dist
cache
.idea
/.secret
/.secret2
/.arweave-secret.json
/.secret-admin
/.secret-deployer
deployments/local
deployments/localhost

.vercel
.openzeppelin
typechain
tenderly.yaml
