node_modules
node_modules.zip
/node_modules 2.zip
build
.vscode

public
dist
cache
/artifacts/
.idea
.secrets
.serverless
.secret
deployments/local
deployments/localhost
tools/liquidation/.private*
functions/delta-prime-db-firebase-adminsdk*
functions/config.json

.vercel
.openzeppelin
typechain
tenderly.yaml
chromium.zip

.env

.env

firebaseConfig.json