$pale-red: #ff6287 !default;
$red: #f64254 !default;
$pink: #dd8ddf !default;
$dark-pink: #cd8eff !default;
$aqua: #87abef !default;
$green: #6D9F71 !default;
$black: #000000 !default;
$pale-green: #48d294 !default;
$lime-green: #00bf68 !default;
$light-violet: #e2d5fb !default;
$violet-mist: #fbfaff !default;
$violet-smoke: #eaebff !default;
$brown: #ba6223 !default;

$off-white-blue: #f4f6ff !default;
$mist-blue: #e6e9fc !default;
$cloud-blue: #b8c3e9 !default;
$storm-blue: #9eacdf !default;
$awesome-blue: #8893fc !default;
$smoke-blue: #8691ff !default;
$washed-blue: #8393cc !default;
$deep-blue: #7986ff !default;
$steel-blue: #7476fc !default;
$sea-blue: #6F5DFF !default;
$persian-blue: #6b70ed !default;
$royal-blue: #565ac2 !default;

$pale-raspberry: #ffd3e0 !default;
$washed-raspberry: #fcb7cc !default;
$light-raspberry: #ff87bc !default;
$raspberry: #f5217f !default;

$yellow: #F4D35E !default;

$pale-orange: #ffe1c2 !default;
$washed-orange: #ffd8b1 !default;
$cloud-orange: #ffba99 !default;
$mist-orange: #FFA243 !default;
$orange: #ffa011 !default;
$deep-orange: #F5A200 !default;
$dark-orange: #f6851b !default;
$tiger-orange: #ff6f43 !default;

$white: #ffffff !default;
$mist-gray: #f6f6f6 !default;
$goose-gray: #f0f0f0 !default;
$fog-gray: #eaeaea !default;
$pearl-gray: #e9e9e9 !default;
$lighter-gray: #d0d0d0 !default;
$light-gray: #ddd !default;
$smoke-gray: #dadada !default;
$cloud-gray: #c4c4c4 !default;
$medium-gray: #979797 !default;
$steel-gray: #7d7d7d !default;
$dark-gray: #696969 !default;
$deep-gray: #666666 !default;

$off-white-lilac: #d4d5ee !default;
$bright-lilac: #c0c2ec !default;
$washed-lilac: #c0a6ff !default;
$lilac: #bf9aff !default;
$mist-lilac: #AFABFF !default;
$pale-lilac: #ad91ff !default;
$light-lilac: #acabe3 !default;
$shallow-lilac: #ab95ff !default;
$bright-lilac: #a695ff !default;
$cloud-lilac: #9B82FF !default;
$awesome-lilac: #9675dc !default;
$deep-lilac: #a27cff !default;
$dim-lilac: #8a67c3 !default;
$smoke-purple: #7E67D8 !default;
$dark-lilac: #8568d8 !default;
$space-lilac: #755bae !default;

$light-purple: #ceb0ff !default;
$aqua-purple: #8b8bff !default;
$pale-purple: #998bef !default;
$cloud-purple: #ae8cff !default;
$washed-purple: #a884ff !default;
$purple: #a761de !default;

$delta-off-white: #fbfaff !default;
$delta-burnt-out: #f5f4ff !default;
$delta-light: #e0e1ff !default;
$delta-pale: #dfe0ff !default;
$delta-secondary: #d1ceff !default;
$delta-washed: #c9cbff !default;
$delta-steel: #BFBCFF !default;
$delta-primary: #b9b7ff !default;
$delta-cloudy: #a5a9ff !default;
$delta-accent: #9a97ff !default;
$delta-smoke: #94a3ff !default;
$delta-tertiary: #8986fe !default;
$delta-dim: #8187fa !default;
$delta-awesome: #756BED !default;
$delta-deep: #7375FC !default;
$delta-space: #6a6edd !default;
$delta-dark: #6267ea !default;

$washed-space: #465178 !default;
$mist-space: #353b64 !default;
$space: #252948 !default;
$shallow-space: #1f223f !default;
$deep-space: #1c1f39 !default;
$void-space: #1b1d2d !default;
$dark-space: #0D0F1E !default;

$light-teal: #07527e !default;
$teal: #1b4360 !default;
$dark-teal: #163d59 !default;
$deep-teal: #182139 !default;

$light-navy: #566392 !default;
$cloud-navy: #353b67 !default;
$mist-navy: #30355b !default;
$navy: #2c3156 !default;
$washed-navy: #1c2943 !default;
$deep-navy: #1b153c !default;

$mist-fuchsia: #6a78aa !default;
$pale-fuchsia: #5861b4 !default;
$washed-fuchsia: #565ea4 !default;
$shallow-fuchsia: #4e52b7 !default;
$fuchsia: #4d3496 !default;
$real-fuchsia: #4729b2 !default;
$dark-fuchsia: #423496 !default;
$space-fuchsia: #383780 !default;
$deep-fuchsia: #3a2d8c !default;

$light-plum: #7a2787 !default;
$pale-plum: #5a2950 !default;
$plum: #571e4b !default;

$eggplant: #301e3e !default;
