$red: #f64254 !default;
$green: #6D9F71 !default;
$black: #000000 !default;
$lime-green: #00bf68 !default;
$light-violet: #e2d5fb !default;
$violet-mist: #fbfaff !default;
$violet-smoke: #eaebff !default;
$persian-blue: #6b70ed !default;
$royal-blue: #565ac2 !default;

$mist-gray: #f6f6f6 !default;
$goose-gray: #f0f0f0 !default;
$fog-gray: #eaeaea !default;
$pearl-gray: #e9e9e9 !default;
$light-gray: #ddd !default;
$smoke-gray: #dadada !default;
$cloud-gray: #c4c4c4 !default;
$medium-gray: #979797 !default;
$steel-gray: #7d7d7d !default;
$dark-gray: #696969 !default;

$delta-primary: #b9b7ff !default;
$delta-secondary: #d1ceff !default;
$delta-accent: #9a97ff !default;
$delta-light: #e0e1ff !default;
$delta-off-white: #fbfaff !default;
