.form-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ltv {
  color: #7d7d7d;
  font-size: 18px;
  font-weight: 500;
  margin-top: 20px;
  margin-bottom: 18px;
}

.ltv-slider-wrapper {
  width: 100%;
  margin-bottom: 20px;
}
