.modal-component {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .toggle-container {
    margin-top: 40px;
  }
}

.modal__title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: $font-size-xxxl;
  margin-bottom: 63px;
}

.modal-top-info, .modal-top-desc {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: var(--modal__top-info-color);
  margin-top: 36px;
  margin-bottom: 10px;

  a {
    text-decoration: none;
    color: var(--modal__top-info-color);
  }

  .top-info__label {
    margin-right: 5px;
  }

  .top-info__value {
    display: flex;
    flex-direction: row;
    font-weight: 600;
  }

  .top-info__divider {
    width: 2px;
    height: 17px;
    background-color: var(--modal__top-info-divider-color);
    margin: 0 10px;
  }

  .top-info__currency {
    margin-left: 3px;
    font-weight: 400;
  }
}

.modal-top-desc {
  flex-direction: column;
}

.transaction-summary-wrapper {
  margin-top: 50px;
}

.button-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 48px;
}

.summary__title {
  .pool {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 5px;

    .pool__icon {
      height: 22px;
      width: 22px;
      border-radius: 50%;
      margin-right: 9px;
    }

    .pool__name {
      font-weight: 600;
      color: var(--modal__pool-name-color);
    }
  }
}

.summary__title {
  .protocol {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 5px;

    .protocol__icon {
      height: 22px;
      width: 22px;
      border-radius: 50%;
      margin-right: 9px;
    }

    .protocol__name {
      font-weight: 600;
      color: black;
    }
  }
}


.slippage-bar {
  border-top: var(--swap-modal__slippage-bar-border);
  border-bottom: var(--swap-modal__slippage-bar-border);
  margin-top: 26px;
  height: 42px;
  font-family: Montserrat;
  font-size: 16px;
  color: var(--swap-modal__slippage-bar-color);
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 15px;
  padding-right: 15px;

  &--embedded {
    border: none;
    margin-top: 19px;
    margin-bottom: 25px;
    justify-content: flex-start !important;
  }

  .slippage-label {
    font-size: $font-size-xsm;
    margin-right: 6px;
  }

  .info__icon {
    transform: translateY(-1px);
  }

  .percent {
    margin-left: 4px;
    font-weight: 600;
  }

  .slippage-info {
    display: flex;
    align-items: center;

    .percent {
      margin-left: 6px;
    }
  }

  .dex-slippage, .fee {
    display: flex;
    align-items: center;

    .info__icon__wrapper {
      margin-left: 5px;
    }
  }


  .deviation-value {
    font-weight: 600;
  }

  .slippage__divider {
    width: 2px;
    height: 17px;
    background-color: var(--swap-modal__slippage-divider-color);
    margin: 0 10px;
  }
}