.tooltip {
  display: block !important;
  z-index: 10000;

  .tooltip-inner {
    padding: 11px 16px 11px 16px;
    box-shadow: 2px 2px 4px 0 rgba(191, 188, 255, 0.5);
    border: solid 1px #c4c4c4;
    border-radius: 12px;
    background-color: white;
    font-size: 12px;
    font-weight: 500;
    color: #696969;
    max-width: 160px;

    a {
      text-decoration: none;
      color: #696969;
      font-weight: 700;
    }
  }

  .tooltip-arrow {
    width: 10px;
    height: 10px;
    position: absolute;
    border-left: solid 1px #c4c4c4;
    border-top: solid 1px #c4c4c4;
    z-index: 1;
    background-color: white;
  }

  &[x-placement^="top"] {
    margin-bottom: 2px;

    &.long {
      top: -105px !important;

    }

    .tooltip-arrow {
      transform: rotate(-135deg);
      bottom: -5px;
      left: calc(50% - 5px);
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  &[x-placement^="bottom"] {
    margin-top: 2px;

    .tooltip-arrow {
      transform: rotate(45deg);
      top: -5px;
      left: calc(50% - 2px);
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  &[x-placement^="right"] {
    margin-left: 7px;

    .tooltip-arrow {
      left: -5px;
      top: calc(50% - 5px);
      margin-left: 0;
      margin-right: 0;
    }
  }

  &[x-placement^="left"] {
    margin-right: 7px;

    .tooltip-arrow {
      right: -5px;
      top: calc(50% - 5px);
      margin-left: 0;
      margin-right: 0;
    }
  }

  &.popover {
    $color: #f9f9f9;

    .popover-inner {
      background: $color;
      color: black;
      padding: 24px;
      border-radius: 5px;
      box-shadow: 0 5px 30px rgba(black, .1);
    }

    .popover-arrow {
      border-color: $color;
    }
  }

  &[aria-hidden='true'] {
    visibility: hidden;
    opacity: 0;
    transition: opacity .15s, visibility .15s;
  }

  &[aria-hidden='false'] {
    visibility: visible;
    opacity: 1;
    transition: opacity .15s;
  }

  &.long {
    white-space: nowrap;

    .tooltip-inner {
      max-width: none;
    }
  }
}
