@import "./colors.scss";

//Font sizes
$font-size-xsm:           14px !default;
$font-size-sm:            16px !default;
$font-size-md:            18px !default;
$font-size-mlg:           22px !default;
$font-size-lg:            23px !default;
$font-size-xl:            24px !default;

$xs: 0;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1540px;
$r2K: 2048px;
$r4K: 3840px;
