.glp-to-gm-img {
  width: 173px !important;
  height: 60px !important;
  margin-top: 25px;
}

.create-account-zap-tile {
  padding: 56px 40px 40px 40px !important;
}

.create-account-zap-img {
  margin-top: 25px;
}